@use '../../assets/variables';

.Nav {
	background-color: #042032;
	min-height: 100vh;
	height: 100%;
	padding: 2rem;
	padding-right: 0;

	&-li {
		padding: 1rem;
		font-weight: bold;
	}
	&-link {
		color: #fff;
		&:hover {
			color: variables.$main-color;
		}
	}

	li:has(.active) {
		border-right: 4px solid variables.$main-color;
	}
	.active {
		color: variables.$main-color;
	}
}
